.doc-page {
  scroll-behavior: smooth;
  scroll-padding-top: 4.75rem;
  font-size: 14px;
}

.doc-page > body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.doc-page ::selection {
  background-color: #bfe3e2;
}

.doc-section {
  color: #262626;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  line-height: 1.5;
}

@media print {
  .doc-hide-print, .doc-header, .doc-toc-collapse-indicator, .doc-toc-more, .doc-article-tools, .doc-permalink, .doc-toolbar, .doc-demo-code > summary, .doc-pager, .doc-footer {
    display: none !important;
  }
}

.doc-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fdfdfd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  line-height: 3.75rem;
  white-space: nowrap;
}

@media (max-height: 300px) {
  .doc-header {
    position: absolute;
  }
}

.doc-header .doc-popup {
  top: 3rem;
  margin-top: 0 !important;
}

.doc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentColor;
}

.doc-icon-space-left {
  margin-left: .25rem;
}

.doc-icon-space-right {
  margin-right: .5rem;
}

.doc-logo {
  display: flex;
  align-items: center;
  padding: 0 .25rem 0 1.5rem;
  color: #29a39f;
  text-decoration: none;
}

@media (max-width: 768px) {
  .doc-logo {
    flex-grow: 1;
    padding-left: .25rem;
    text-align: center;
  }
}

.doc-logo > svg {
  width: 3rem;
  height: 3rem;
  color: #3eaca9;
  line-height: 0;
}

.doc-logo:hover > svg {
  animation: doc-floating-start .75s ease-out 0s 1 forwards, doc-floating 3s ease-in-out .75s infinite;
}

@keyframes doc-floating-start {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -0.5rem);
  }
}

@keyframes doc-floating {
  from {
    transform: translate(0, -0.5rem);
  }
  50% {
    transform: translate(0, 0.5rem);
  }
  to {
    transform: translate(0, -0.5rem);
  }
}

.doc-logo-title {
  margin-left: .5rem;
  font-family: doc-logo;
  font-size: 1.65rem;
  font-weight: 600;
  letter-spacing: .05rem;
}

@font-face {
  font-family: "doc-logo";
  src: url("logo.woff2") format("woff2");
}

.doc-version {
  padding: 0 .5rem;
  color: #999;
}

@media (max-width: 1024px) {
  .doc-version {
    display: none;
  }
}

.doc-navbar {
  flex-grow: 1;
  padding: 0 1.5rem;
}

.doc-navbar > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.doc-navbar a {
  display: block;
  padding: 0 1.5rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.doc-navbar a:hover {
  color: #29a39f;
}

@media (max-width: 1024px) {
  .doc-navbar a {
    padding: 0 1rem;
  }
}

.doc-navbar .doc-selected > a {
  position: relative;
  color: #29a39f;
}

.doc-navbar .doc-selected > a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-bottom: 2px solid #3eaca9;
}

.doc-navbar .doc-popup {
  left: .25rem;
}

@media (max-width: 768px) {
  .doc-navbar {
    position: fixed;
    top: 3.75rem;
    left: 0;
    z-index: 2001;
    min-width: 10rem;
    border: 1px solid #e1e4e8;
    border-radius: 0.2rem;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: opacity 0.2s, transform 0.2s;
  }
  .doc-navbar > ul {
    display: block;
  }
  .doc-navbar > ul > .doc-selected > a {
    border-right: 2px solid #3eaca9;
  }
  .doc-navbar > ul > .doc-selected > a::after {
    display: none;
  }
  .doc-navbar-open .doc-navbar, .doc-navbar:focus-within {
    opacity: 1;
    transform: scaleY(1);
  }
}

.doc-search {
  flex-shrink: 1;
  position: relative;
  padding: 0 1.5rem;
}

.doc-search > .doc-icon {
  position: absolute;
  top: 1.375rem;
  left: 2.25rem;
  color: #999;
  transition: color 0.2s;
  pointer-events: none;
}

.doc-search > input {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 16rem;
  border: 1px solid #f0f2f4;
  border-radius: 1.1rem;
  background-color: #fff;
  padding: .35rem .75rem .35rem 2rem;
  outline-width: 0;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.2s, width 0.2s ease-out;
}

.doc-search > input::placeholder {
  color: #999;
}

.doc-search > input:hover {
  border-color: #c6c9cc;
}

.doc-search > input:focus {
  border-color: #29a39f;
}

.doc-search > input:focus + .doc-icon {
  color: #262626;
}

.doc-search > .doc-popup {
  top: 2.975rem;
  left: 2.25rem;
  right: 2.25rem;
  max-height: 61.8vh;
  white-space: normal;
}

.doc-search mark {
  background: none;
  color: #fc9153;
}

@media (max-width: 768px) {
  .doc-search {
    position: fixed;
    top: 3.75rem;
    left: 0;
    right: 0;
    z-index: 2001;
    background-color: #f0f1f2;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: opacity 0.2s, transform 0.2s;
  }
  .doc-search > input {
    width: 100% !important;
    border-radius: 0.2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  .doc-search > input:focus {
    border-color: #c6c9cc;
  }
  .doc-search > .doc-popup {
    max-width: 100%;
  }
  .doc-search-open .doc-search {
    opacity: 1;
    transform: scaleY(1);
  }
}

.doc-tip {
  color: #515151 !important;
}

.doc-spinner {
  display: inline-block;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border: 1.5px solid #e1e4e8;
  border-top-color: inherit;
  border-radius: 50%;
  vertical-align: -1.5px;
  animation: doc-spin 1s linear infinite;
}

@keyframes doc-spin {
  to {
    transform: rotate(360deg);
  }
}

.doc-external {
  padding: 0 1.5rem;
  color: inherit;
  font-size: 1.375rem;
}

.doc-external:hover {
  transform-origin: center bottom;
  animation: doc-bounce 1s infinite;
}

@keyframes doc-bounce {
  0%, 20%, 53%, 80%, to {
    transform: translateZ(0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    transform: translate3d(0, -0.45rem, 0);
  }
  40%, 43%, 70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    transform: translate3d(0, -0.2rem, 0);
  }
  90% {
    transform: translate3d(0, -0.1rem, 0);
  }
}

@media (max-width: 1024px) {
  .doc-external {
    display: none;
  }
}

.doc-navbutton {
  display: none;
  height: 3.75rem;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  line-height: inherit;
  transition: background-color 0.2s, color 0.2s;
  touch-action: manipulation;
  cursor: pointer;
}

@media (max-width: 768px) {
  .doc-navbutton {
    display: block;
  }
}

@media (max-width: 768px) {
  .doc-navbar-open .doc-navbutton-navbar, .doc-search-open .doc-navbutton-search, .doc-sidebar-open .doc-navbutton-sidebar {
    background-color: #f0f1f2;
    color: #29a39f;
  }
}

.doc-menu {
  list-style: none;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  padding: 0.2rem 0;
  white-space: nowrap;
}

.doc-menu a, .doc-menu button, .doc-menu label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: none;
  padding: .75rem 1.25rem;
  outline-offset: -1px;
  outline-color: #29a39f;
  color: #262626;
  font-size: inherit;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  word-break: break-all;
  letter-spacing: .03rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.doc-menu a > small, .doc-menu button > small, .doc-menu label > small {
  margin-left: .5rem;
  color: #999;
  font-size: .875rem;
}

.doc-menu label {
  cursor: default;
}

.doc-menu a:hover, .doc-menu button:hover, .doc-menu .doc-selected > a, .doc-menu .doc-selected > button {
  background-color: #f2f3f4;
  color: #29a39f;
}

.doc-menu a:hover > small, .doc-menu button:hover > small, .doc-menu .doc-selected > a > small, .doc-menu .doc-selected > button > small {
  color: inherit;
}

.doc-menu a:hover, .doc-menu button:hover {
  background-color: #ebeced;
}

.doc-menu-divider:not(:first-child) {
  margin-top: 0.2rem;
  border-top: 1px solid #f0f2f4;
  padding-top: 0.2rem;
}

.doc-popup {
  position: absolute;
  z-index: 1999;
  max-width: 61.8vw;
  min-width: 7rem;
  border: 1px solid #e1e4e8;
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.doc-popup.doc-arrow {
  margin: .5rem 0 .5rem -1.25rem;
  overflow: visible;
  transform-origin: 0 -.5rem;
}

.doc-popup-trigger {
  position: relative;
  cursor: pointer;
}

.doc-popup-trigger:hover > .doc-popup, .doc-popup-trigger:focus-within > .doc-popup, .doc-popup-show {
  opacity: 1;
  transform: scaleY(1);
}

.doc-arrow::before, .doc-arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: 1.25rem;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
  border-bottom-color: inherit;
  font-size: 0;
}

.doc-arrow::after {
  top: calc(1.91px - 1rem);
  border-bottom-color: #fff;
}

.doc-progress {
  position: fixed;
  top: 3.75rem;
  left: 0;
  z-index: 2000;
  height: 2px;
  background-color: #a9dad9;
  transition: width 4s linear, opacity 0.2s;
}

.doc-body {
  display: flex;
  position: relative;
  margin-top: 6.25rem;
}

.doc-sidebar {
  flex-shrink: 0;
  width: 18.5rem;
  min-height: 85vh;
  border-right: 1px solid #f0f2f4;
  font-size: .95rem;
  transition: transform 0.2s, width 0.2s;
}

@media (max-width: 768px) {
  .doc-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 61.8vw;
    background-color: #fff;
    transform: translateX(-100%);
  }
  .doc-sidebar-open .doc-sidebar {
    z-index: 2003;
    transform: translateX(0);
  }
}

.doc-sidebar-open .doc-body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2001;
  animation: doc-sidebar-show 0.2s forwards;
}

@keyframes doc-sidebar-show {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.doc-navmenu {
  position: sticky;
  top: 3.75rem;
  margin-right: -1px;
  box-sizing: border-box;
  max-height: calc(100vh - 3.75rem);
  white-space: normal;
}

.doc-navmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.doc-navmenu a {
  padding: .875rem 1.5rem;
}

.doc-navmenu .doc-selected {
  border-right: 2.5px solid #3eaca9;
}

@media (max-width: 768px) {
  .doc-navmenu {
    position: static;
    max-height: 100%;
  }
}

.doc-navmenu-collapsible > button {
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.doc-navmenu > .doc-navmenu-collapsible > button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.doc-navmenu-collapse-indicator {
  float: right;
  margin: 0 0 0 .5rem !important;
  color: #999;
  font-size: 1.5em;
  transition: transform 0.2s;
}

.doc-collapsed > button > .doc-navmenu-collapse-indicator {
  transform: rotate(-90deg);
}

.doc-navmenu-child a, .doc-navmenu-child button {
  padding-left: 2.5rem;
}

.doc-navmenu-child .doc-navmenu-child a, .doc-navmenu-child .doc-navmenu-child button {
  padding-left: 3.5rem;
}

.doc-navmenu-child .doc-navmenu-child .doc-navmenu-child a, .doc-navmenu-child .doc-navmenu-child .doc-navmenu-child button {
  padding-left: 4.5rem;
}

.doc-navmenu-child .doc-navmenu-child .doc-navmenu-child .doc-navmenu-child a, .doc-navmenu-child .doc-navmenu-child .doc-navmenu-child .doc-navmenu-child button {
  padding-left: 5.5rem;
}

.doc-navmenu-current > button {
  color: #29a39f;
}

@media screen and (min-width: 768px) {
  .doc-windows .doc-hide-scrollbar {
    scrollbar-width: none;
  }
  .doc-windows .doc-hide-scrollbar:hover {
    scrollbar-width: thin;
  }
  .doc-windows .doc-hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 8px;
    height: 8px;
  }
  .doc-windows .doc-hide-scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f5f5f5;
  }
  .doc-windows .doc-hide-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaa;
  }
  .doc-windows .doc-hide-scrollbar:hover::-webkit-scrollbar {
    display: block;
  }
}

.doc-article {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: .5rem 4rem 3rem;
}

@media (max-width: 768px) {
  .doc-article {
    padding: .5rem 1.5rem 3rem;
  }
}

.doc-article:first-child {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.doc-article-narrow {
  margin: 0 auto;
  max-width: 42.5rem;
}

.doc-article-index {
  margin-top: 2rem;
}

.doc-article-has-toc {
  padding-right: 11rem;
}

@media (max-width: 1024px) {
  .doc-article-has-toc {
    padding-right: 0;
  }
}

.doc-toc {
  position: absolute;
  top: 0;
  bottom: 2rem;
  right: 0;
  width: 11rem;
  touch-action: manipulation;
}

@media (max-width: 1024px) {
  .doc-toc {
    position: static;
    margin: 1rem 0;
    width: auto;
    border-left: 3px solid #3eaca9;
  }
}

.doc-toc-container {
  position: sticky;
  top: 6.25rem;
  max-height: calc(100vh - 8.75rem);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  padding-left: .15rem;
  font-size: .75rem;
}

@media (max-width: 1024px) {
  .doc-toc-container {
    position: static;
    width: auto;
    max-height: none;
  }
}

.doc-toc-container ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.7rem;
}

.doc-toc-container > ul {
  border-left: 1px solid #f3f4f6;
  padding: 0 0 .5rem 1.2rem;
}

@media screen and (max-width: 1024px) {
  .doc-toc-container > ul {
    border-left: none;
    padding-bottom: 0;
  }
  .doc-toc-container > ul.doc-collapsed {
    box-sizing: content-box;
    max-height: 7rem;
    overflow: hidden;
  }
}

.doc-toc-container li {
  padding: .5rem .1rem 0;
}

.doc-toc-container a {
  color: #7d7d7d;
  text-decoration: none;
  word-break: break-all;
  transition: color 0.2s;
}

.doc-toc-container a:hover {
  color: #29a39f;
}

@media print {
  .doc-toc-container a {
    color: #000 !important;
  }
}

@media (min-width: 1025px) {
  .doc-toc-container .doc-selected > a {
    color: #29a39f;
  }
}

.doc-toc-head::after {
  content: "";
  display: block;
  margin: .5rem 0 .15rem;
  width: 61.8%;
  border-bottom: 1px solid #f3f4f6;
}

@media (max-width: 1024px) {
  .doc-toc-head {
    display: none;
  }
}

.doc-toc-anchor {
  display: block;
  position: absolute;
  top: 0.625rem;
  left: 0;
  margin: 0.3125rem 0;
  width: .25rem;
  height: .25rem;
  border: 0.0625rem solid #29a39f;
  border-radius: 50%;
  background-color: #fff;
  transition: top 0.2s linear;
}

@media (max-width: 1024px) {
  .doc-toc-anchor {
    display: none;
  }
}

.doc-toc-title, .doc-toc-more {
  display: none;
  border: none;
  border-radius: 0.2rem;
  background: none;
  padding: 0 .25rem;
  outline: none;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .doc-toc-title, .doc-toc-more {
    display: inline;
  }
}

button.doc-toc-title, .doc-toc-more {
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}

button.doc-toc-title:hover, .doc-toc-more:hover {
  color: #29a39f;
}

button.doc-toc-title:focus, .doc-toc-more:focus {
  background-color: #dedfe0;
}

.doc-toc-title {
  margin: 0 .85rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.doc-toc-collapse-indicator {
  transition: transform 0.2s;
}

.doc-toc.doc-collapsed .doc-toc-collapse-indicator {
  transform: rotate(-180deg);
}

.doc-toc-more {
  margin: .5rem 0 0 1rem;
  transform: rotate(-180deg);
}

.doc-toc-more > .doc-icon:last-child {
  display: none;
}

.doc-toc.doc-collapsed .doc-toc-more > .doc-icon:first-child {
  display: none;
}

.doc-toc.doc-collapsed .doc-toc-more > .doc-icon:last-child {
  display: inline-block;
  transform: rotate(-90deg);
}

.doc-ellipsis, .doc-toc-container li, .doc-box, .doc-pager > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-article-tools {
  float: right;
}

.doc-article-tools > .doc-icon {
  font-size: 1.25rem;
  cursor: pointer;
}

.doc-article-tools > .doc-popup {
  right: -1rem;
}

.doc-article-tools > .doc-popup.doc-arrow::before, .doc-article-tools > .doc-popup.doc-arrow::after {
  left: auto;
  right: 1rem;
}

.doc-article-title {
  margin: 0 0 .5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.doc-article-title > small {
  margin-left: .75rem;
  color: #999;
  font-size: 1rem;
}

.doc-article-title > .doc-tag {
  padding: .25rem .75rem;
  vertical-align: .4rem;
}

.doc-tag {
  display: inline;
  margin: 0 .25rem 0 .75rem;
  box-sizing: border-box;
  min-width: 1.75rem;
  border-radius: 1.5rem;
  background-color: #f2f3f4;
  padding: .25rem .5rem;
  color: #676767;
  font-size: .875rem;
  font-weight: normal;
  text-align: center;
  vertical-align: .125em;
  white-space: nowrap;
}

.doc-tag + .doc-tag {
  margin-left: .25rem;
}

.doc-tag.doc-info {
  border-color: #d0e4f7;
  background-color: #e8f2fb;
  color: #5ba2e4;
}

.doc-tag.doc-success {
  border-color: #daedd0;
  background-color: #edf6e8;
  color: #7ec15c;
}

.doc-tag.doc-warning {
  border-color: #f8eacf;
  background-color: #fcf5e7;
  color: #e8b756;
}

.doc-tag.doc-error {
  border-color: #f6d2d4;
  background-color: #fae8e9;
  color: #de6167;
}

.doc-article-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  color: #999;
  font-size: .875rem;
  line-height: 1.5rem;
}

.doc-article-meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.doc-article-meta a {
  color: inherit;
  text-decoration: none;
}

.doc-article-meta a:hover {
  color: #29a39f;
}

.doc-article-meta-item {
  margin-right: 1rem;
}

.doc-article-meta-value {
  display: inline-block;
}

.doc-article-meta-value > a, .doc-article-meta-value > span, .doc-article-meta-value > ul {
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
}

.doc-article-meta-value > ul {
  top: -1px;
  left: 0;
  max-width: 12rem;
  min-width: 9rem;
  overflow: auto;
  transition: opacity 0.2s;
  -webkit-overflow-scrolling: touch;
}

.doc-article-meta-value > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-article-meta-value > ul > li:first-child {
  padding-right: 1rem;
}

@media print {
  .doc {
    color: #000 !important;
  }
}

.doc h1 > small, .doc h2 > small, .doc h3 > small, .doc h4 > small, .doc h5 > small, .doc h6 > small {
  margin-left: .25rem;
  color: #999;
  font-size: 90%;
  font-weight: normal;
}

.doc h1:target, .doc h2:target, .doc h3:target, .doc h4:target, .doc h5:target, .doc h6:target {
  position: relative !important;
}

.doc h1:target::after, .doc h2:target::after, .doc h3:target::after, .doc h4:target::after, .doc h5:target::after, .doc h6:target::after {
  content: "";
  position: absolute;
  z-index: 1998;
  border: 4px solid rgba(255, 231, 39, 0);
  border-radius: .3rem;
  animation: doc-highlight-target 3s;
  pointer-events: none;
}

@keyframes doc-highlight-target {
  from {
    top: -1.5rem;
    bottom: -1.5rem;
    left: -1.5rem;
    right: -1.5rem;
    border-color: rgba(255, 231, 39, 0);
  }
  62%, 85%, to {
    top: -.25rem;
    bottom: -.25rem;
    left: -.5rem;
    right: -.5rem;
    border-color: #ffe727;
  }
  to {
    border-color: rgba(255, 231, 39, 0);
  }
}

.doc h1 {
  font-size: 2rem;
  font-weight: 400;
}

.doc h2 {
  margin: 3rem 0 1.25rem;
  font-size: 1.7rem;
  font-weight: 400;
  page-break-after: avoid;
}

.doc-article-narrow .doc h2 {
  position: relative;
  margin-top: 4rem;
}

.doc-article-narrow .doc h2::before {
  content: "";
  display: block;
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  border-top: 1px solid #f0f2f4;
}

.doc h3 {
  margin: 1.75rem 0 1.25rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.doc h4 {
  margin: 1.5rem 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.doc h5 {
  margin: 1rem 0 .5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.doc h6 {
  margin: .5rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.doc p, .doc ul, .doc ol, .doc dl, .doc table, .doc figure, .doc pre, .doc blockquote, .doc details, .doc img, .doc input, .doc select, .doc button, .doc textarea, .doc video[controls], .doc audio[controls] {
  margin: 0 0 1.25rem;
  line-height: 2;
}

.doc p:last-child, .doc ul:last-child, .doc ol:last-child, .doc dl:last-child, .doc table:last-child, .doc figure:last-child, .doc pre:last-child, .doc blockquote:last-child, .doc details:last-child, .doc img:last-child, .doc input:last-child, .doc select:last-child, .doc button:last-child, .doc textarea:last-child, .doc video[controls]:last-child, .doc audio[controls]:last-child {
  margin-bottom: 0;
}

.doc ul, .doc ol {
  padding-left: 1.5em;
}

.doc li ul, .doc li ol {
  padding-left: 2em;
}

.doc dt {
  margin: .75rem 0 0;
  font-weight: 600;
}

.doc dt:first-child {
  margin-top: 0;
}

.doc dd {
  margin: 0;
  padding: 0;
}

.doc table {
  empty-cells: show;
  box-sizing: border-box;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.5;
}

.doc table p, .doc table ul, .doc table ol, .doc table dl, .doc table table, .doc table figure, .doc table pre, .doc table blockquote, .doc table details, .doc table img {
  margin-bottom: 1rem;
  line-height: inherit;
}

.doc tbody > tr:hover {
  background-color: #f2f3f4;
  transition: background-color 0.2s;
}

.doc th, .doc td {
  border-width: 1px 0;
  border-style: solid;
  border-color: #edeff1;
  padding: .75rem;
  text-align: left;
  vertical-align: top;
}

.doc th {
  position: sticky;
  top: 3.75rem;
  z-index: 1;
  background-color: #f7f8f9;
  font-weight: 600;
  white-space: nowrap;
}

.doc th:before, .doc th:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.doc th:before {
  top: -1px;
  border-top: 1px solid #edeff1;
}

.doc th:after {
  bottom: -1px;
  border-bottom: 1px solid #edeff1;
}

.doc figure {
  line-height: 0;
  text-align: center;
}

.doc figure > table, .doc figure > img, .doc figure > pre {
  margin: 0;
}

.doc figure > img:not(:only-of-type) {
  margin: 0 .5rem 1rem;
}

.doc figure > img:not(:only-of-type) + figcaption {
  margin-top: -1rem;
}

@media (max-width: 768px) {
  .doc figure {
    overflow-x: auto;
  }
  .doc figure th {
    position: static;
  }
  .doc figure th:before, .doc figure th:after {
    display: none;
  }
}

.doc figcaption {
  padding: .375rem 0;
  font-size: .875rem;
  line-height: 1.5rem;
}

.doc hr {
  margin: 0 0 1.25rem;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #e1e4e8;
}

.doc blockquote {
  border-left: 4px solid #e1e4e8;
  padding: .375rem 1rem;
}

.doc pre {
  background-color: #f7f8f9;
  font: inherit;
  white-space: pre-wrap;
  word-break: break-all;
  tab-size: 2;
}

.doc pre > code {
  display: block;
  padding: .75rem 1rem;
  color: inherit;
  font-size: 95%;
}

@media print {
  .doc pre > code {
    border: 1px solid #cbcdd1;
  }
}

@media screen and (max-width: 768px) {
  .doc pre {
    overflow-x: auto;
    white-space: pre;
    word-break: normal;
  }
}

.doc summary {
  list-style-type: none;
  display: block;
  padding: .5rem 0;
  outline-width: 0;
  line-height: 1.5rem;
  user-select: none;
  transition: background-color 0.2s;
  touch-action: manipulation;
  cursor: pointer;
}

.doc summary:hover {
  border-radius: 0.2rem;
}

.doc summary::-webkit-details-marker {
  display: none;
}

.doc summary::before {
  content: "";
  display: block;
  float: left;
  margin: .25em .25em 0 0;
  width: 1em;
  height: 1em;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='1em' height='1em'%3E%3Cpath d='M6.7 9.3L2.8 5.1c-.1-.1-.1-.3 0-.4a.4.3 0 01.3-.1h7.8c.2 0 .4.1.4.3 0 .1 0 .2-.1.2L7.3 9.3c-.2.2-.4.2-.5 0a.4.3 0 01-.1 0h0z'/%3E%3C/svg%3E") no-repeat center center;
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

.doc summary:focus-visible {
  outline-width: 1px;
}

.doc details[open] > summary::before {
  transform: rotate(0);
}

.doc details[open] > :not(summary) {
  animation: doc-detail-open 0.2s ease-in-out;
}

@keyframes doc-detail-open {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.doc img, .doc input, .doc select, .doc button, .doc textarea, .doc canvas, .doc video, .doc audio {
  box-sizing: border-box;
  max-width: 100%;
  border: 0;
  page-break-inside: avoid;
}

.doc input, .doc select, .doc button, .doc textarea {
  margin-right: .5rem;
  border: 1px solid #cbcdd1;
  border-radius: 0.2rem;
  background-color: #fff;
  padding: .375rem .5rem;
  outline: none;
  font: inherit;
  transition: border-color 0.2s;
  touch-action: manipulation;
}

.doc input:hover, .doc select:hover, .doc button:hover, .doc textarea:hover {
  border-color: #b4b6ba;
}

.doc input:focus, .doc select:focus, .doc button:focus, .doc textarea:focus {
  border-color: #29a39f;
}

.doc input:disabled, .doc select:disabled, .doc button:disabled, .doc textarea:disabled {
  border-color: #e7e9ed !important;
  background-color: #f7f8f9 !important;
  color: #cbcdd1 !important;
  cursor: not-allowed;
}

.doc input[type=radio]:focus, .doc input[type=checkbox]:focus, .doc input[type=button]:focus, .doc input[type=submit]:focus, .doc input[type=reset]:focus, .doc button:focus {
  box-shadow: 0 0 0 2px rgba(41, 163, 159, 0.3);
}

.doc input[type=radio], .doc input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 .25em 0 0;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  padding: 0;
  color: #cbcdd1;
  vertical-align: -1px;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: inherit;
}

.doc input[type=radio]:active, .doc input[type=checkbox]:active {
  color: #cbcdd1;
}

.doc input[type=radio]:active:checked:active, .doc input[type=checkbox]:active:checked:active {
  color: #25938f;
}

.doc input[type=radio] {
  border-radius: 50%;
}

.doc input[type=radio]::after {
  content: "";
  display: block;
  margin: -1px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: currentColor;
  transform: scale(0);
  transition: transform 0.2s, background-color 0.2s;
}

.doc input[type=radio]:checked {
  border-color: currentColor;
  color: #29a39f;
}

.doc input[type=radio]:checked::after {
  transform: scale(0.5);
}

.doc input[type=checkbox]::after {
  content: "";
  display: block;
  margin-left: 0.2425rem;
  width: .275rem;
  height: .55rem;
  border-width: 0 .125rem .125rem 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s;
}

.doc input[type=checkbox]:checked {
  border-color: currentColor;
  background-color: currentColor;
  color: #29a39f;
}

.doc input[type=checkbox]:checked::after {
  transform: rotate(45deg) scale(1);
}

.doc input[type=checkbox]:disabled::after {
  border-color: currentColor;
}

.doc select:not([multiple]) {
  -webkit-appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.714286em' height='1.5em' viewBox='0 0 24 21' stroke='%23adb4bb' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='5.25 7.875 10.5 13.125 15.75 7.875'%3E%3C/polyline%3E%3C/svg%3E") no-repeat right center;
  padding-right: 1.8em;
}

.doc ::placeholder {
  color: #999;
}

.doc textarea {
  margin-right: 0;
  width: 100%;
  height: 9em;
}

.doc input[type=button], .doc input[type=submit], .doc input[type=reset], .doc button {
  -webkit-appearance: none;
  padding: .375rem 1rem;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.doc input[type=button]:active, .doc input[type=submit]:active, .doc input[type=reset]:active, .doc button:active {
  background-color: #f0f2f4;
}

.doc input[type=submit], .doc button[type=submit] {
  border-color: #34a8a4;
  background-color: #34a8a4;
  color: #fff;
}

.doc input[type=submit]:hover, .doc button[type=submit]:hover {
  background-color: #34a8a4;
}

.doc input[type=submit]:active, .doc button[type=submit]:active {
  background-color: #25938f;
}

.doc a {
  margin: -.15rem;
  padding: .15rem;
  color: #29a39f;
  text-decoration: none;
  letter-spacing: .03em;
  transition: color 0.2s, background-color 0.2s;
  touch-action: manipulation;
}

.doc a:hover {
  border-radius: .15rem;
  background-color: #34a8a4;
  color: #fff;
}

.doc a:visited {
  opacity: .95;
}

.doc code {
  color: #2f6f9f;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", monospace;
  white-space: pre-wrap;
}

.doc code > a {
  color: inherit;
}

.doc code > a:hover {
  background: none;
  color: inherit;
  text-decoration: underline;
}

.doc a:hover > code {
  color: inherit;
}

.doc mark {
  background: none;
  color: #fc9153;
}

@media (max-width: 768px) {
  .doc-hide-screen-small, .doc-locale, .doc-permalink, .doc-code > .doc-toolbar, .doc-back-to-top {
    display: none !important;
  }
}

.doc-permalink {
  margin: 0 0 0 -1.5rem !important;
  padding: 0 .5rem 0 0 !important;
  opacity: 0;
  color: #999 !important;
  font-size: 1rem;
  text-decoration: none;
  vertical-align: .2rem;
  transition: opacity 0.2s !important;
}

h1:hover .doc-permalink, h2:hover .doc-permalink, h3:hover .doc-permalink, h4:hover .doc-permalink, .doc-permalink:focus {
  opacity: 1;
}

.doc-permalink:hover {
  background: none !important;
  color: #29a39f !important;
}

.doc-line-dotted {
  border-style: dotted !important;
}

.doc-image-zoom {
  cursor: zoom-in;
}

.doc-blockquote.doc-success {
  border-left-color: #6bb945;
  background-color: #f7f8f9;
}

.doc-blockquote.doc-success > .doc-blockquote-title, .doc-blockquote.doc-success .doc-blockquote-icon {
  color: #46a716;
}

.doc-blockquote.doc-info {
  border-left-color: #4395e1;
  background-color: #f7f8f9;
}

.doc-blockquote.doc-info > .doc-blockquote-title, .doc-blockquote.doc-info .doc-blockquote-icon {
  color: #147ad9;
}

.doc-blockquote.doc-warning {
  border-left-color: #e5ad3d;
  background-color: #f7f8f9;
}

.doc-blockquote.doc-warning > .doc-blockquote-title, .doc-blockquote.doc-warning .doc-blockquote-icon {
  color: #de980d;
}

.doc-blockquote.doc-error {
  border-left-color: #d94a51;
  background-color: #f7f8f9;
}

.doc-blockquote.doc-error > .doc-blockquote-title, .doc-blockquote.doc-error .doc-blockquote-icon {
  color: #d01d26;
}

.doc-blockquote-icon {
  margin-right: .25rem;
}

.doc-blockquote-icon + p {
  display: inline;
}

.doc-toolbar {
  float: right;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

h2 > .doc-toolbar {
  margin-top: 0.525rem;
}

h3 > .doc-toolbar {
  margin-top: 0.375rem;
}

h4 > .doc-toolbar {
  margin-top: 0.225rem;
}

.doc-toolbar-button {
  display: inline-block;
  margin: 0 0 0 .5rem !important;
  border: none !important;
  border-radius: 0.2rem;
  background: none !important;
  padding: 0 .25rem !important;
  color: #262626 !important;
  line-height: 1.5 !important;
}

.doc-toolbar-button.doc-selected {
  margin: -1px -1px -1px calc(.5rem - 1px) !important;
  border: 1px solid #29a39f !important;
  color: #29a39f !important;
}

.doc-toolbar-button:hover {
  position: relative;
  background-color: #34a8a4 !important;
  color: #fff !important;
}

.doc-toolbar-button:hover > .doc-tooltip {
  visibility: visible;
  bottom: 2.25rem;
  opacity: 1;
}

.doc-toolbar-button:focus-visible {
  position: relative;
}

.doc-toolbar-button:focus-visible > .doc-tooltip {
  visibility: visible;
  bottom: 2.25rem;
  opacity: 1;
}

.doc-tooltip {
  display: table;
  visibility: hidden;
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  z-index: 2000;
  max-width: 38.2vw;
  border-radius: .3rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: .375rem .5rem;
  opacity: 0;
  color: #fff;
  font-size: .875rem;
  line-height: 1.25;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 0.2s;
}

.doc-tooltip::before {
  top: auto;
  bottom: -.6rem;
  left: 50%;
  right: auto;
  margin-left: -.3rem;
  border-width: .3rem;
  border-top-color: rgba(0, 0, 0, 0.6);
  border-bottom-color: transparent;
}

.doc-tooltip::after {
  display: none;
}

.doc-code > .doc-toolbar {
  margin: .75rem 1rem -.25rem 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.doc-code:hover > .doc-toolbar {
  opacity: 1;
}

.doc-code:focus-within > .doc-toolbar {
  opacity: 1;
}

@media screen {
  .doc-code-scrollable {
    position: relative;
  }
  .doc-code-scrollable > .doc-toolbar {
    position: absolute;
    top: 0;
    right: 0;
  }
  .doc-code-scrollable > code {
    max-height: 30rem;
    overflow: auto;
  }
}

.doc-code-merge + .doc-code-merge {
  margin-top: -2rem;
}

.doc-token-keyword, .doc-token-tag, .doc-token-property {
  color: #d44950;
}

@media print {
  .doc-token-keyword {
    color: #000;
    font-weight: 600;
  }
}

.doc-token-string, .doc-token-char, .doc-token-url, .doc-token-attr-value {
  color: #0f2889;
}

.doc-token-constant, .doc-token-number, .doc-token-boolean, .doc-token-symbol {
  color: #7d2727;
}

.doc-token-regex, .doc-token-atrule, .doc-token-entity {
  color: #b35e14;
}

.doc-token-builtin, .doc-token-important {
  color: #2f9c0a;
}

.doc-token-class-name, .doc-token-attr-name, .doc-token-selector {
  color: #005cc5;
}

.doc-token-function, .doc-token-variable {
  color: #6f42c1;
}

.doc-token-punctuation {
  color: #999;
}

.doc-token-punctuation::before {
  content: "\200b";
}

.doc-token-operator {
  color: #9a6e3a;
}

.doc-token-comment, .doc-token-prolog, .doc-token-doctype, .doc-token-cdata {
  color: slategray;
}

.doc-token-bold {
  font-weight: 600;
}

.doc-token-italic {
  font-style: italic;
}

.doc-token-highlight, .doc-token-deleted, .doc-token-inserted {
  display: inline-block;
  margin: 0 -1rem;
  width: 100%;
  background-color: #ebeced;
  padding: 0 1rem;
}

.doc-token-deleted {
  background-color: #ffecec;
  color: #bd2c00;
  text-decoration: line-through;
  text-decoration-skip: spaces;
}

.doc-token-inserted {
  background-color: #eaffea;
  color: #55a532;
}

.doc-demo {
  position: relative;
  margin: 1.25rem 0;
  border: 1px solid #e1e4e8;
  border-radius: 0.2rem;
  transition: box-shadow 0.2s;
}

.doc-demo:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
}

.doc-demo:hover > .doc-demo-code > summary > .doc-toolbar {
  opacity: 1;
}

.doc-demo:focus-within > .doc-demo-code > summary > .doc-toolbar {
  opacity: 1;
}

.doc-demo .doc-run-result {
  padding: 1.5rem;
}

.doc-demo-code {
  display: block;
  clear: both;
  border-top: 1px solid #e1e4e8;
  border-radius: 0 0 0.2rem 0.2rem;
  background-color: #f7f8f9;
}

.doc-demo-code > summary {
  border-radius: 0 0 0.2rem 0.2rem;
  padding: .75rem 1rem;
  cursor: pointer;
}

.doc-demo-code[open] > summary::before {
  transform: rotate(0);
}

.doc-demo-code[open] > summary ~ * {
  animation: doc-detail-open 0.2s ease-in-out;
}

.doc-demo-code[open] > summary > .doc-toolbar {
  opacity: 1;
}

.doc-demo-code > pre {
  margin-top: -0.5rem;
  background: none;
}

.doc-demo-code > pre > code {
  outline: none;
}

@media print {
  .doc-demo-code > pre {
    margin-top: 0;
  }
}

.doc-run-result {
  position: relative;
  z-index: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.doc-run-result.doc th {
  position: unset;
}

.doc-run-result.doc th::before, .doc-run-result.doc th::after {
  display: none;
}

iframe.doc-run-result {
  display: block;
  width: 100%;
  min-height: 14rem;
  border: 0;
  padding: 0;
}

.doc-demo-test {
  display: none;
  border-color: #daedd0;
}

.doc-page-dev .doc-demo-test {
  display: block;
}

.doc-api-search-input {
  -webkit-appearance: none;
  margin: calc(-.25rem - 1px) -1.5rem calc(-.25rem - 1px) -0.5rem !important;
  width: 2rem;
  max-width: none !important;
  padding: .25rem .5rem !important;
  box-shadow: none;
  opacity: 0;
  outline: none;
  line-height: 1.5 !important;
  transition: width 0.2s, opacity 0.2s !important;
  cursor: pointer;
}

.doc-api-search-input:focus, .doc-api-search-input:valid {
  width: 12rem;
  opacity: 1;
  cursor: text;
}

.doc-api-search-input:focus + .doc-icon, .doc-api-search-input:valid + .doc-icon {
  opacity: 0;
}

.doc-api-search-input:focus ~ .doc-tooltip, .doc-api-search-input:valid ~ .doc-tooltip {
  display: none;
}

.doc-api-search-input + .doc-icon {
  opacity: 1;
  transition: opacity 0.2s;
  pointer-events: none;
}

.doc-api:not(:last-child) {
  margin-bottom: 1rem;
}

.doc-api:not(:last-child):not(.doc-collapsed) {
  border-bottom: 1px solid #f0f2f4;
}

.doc-api-header {
  border-radius: 0.2rem 0.2rem 0 0;
  transition: background-color 0.2s;
  cursor: pointer;
}

.doc-api-header:last-child, .doc-collapsed > .doc-api-header {
  border-radius: 0.2rem;
}

.doc-api-header:hover, .doc-api-header:hover + .doc-api-body {
  background-color: #f2f3f4;
}

.doc-api-title {
  margin: 0 !important;
  padding: .25rem 0 !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
}

.doc-api-body .doc-api-title {
  font-size: 1.15rem !important;
}

.doc-api-summary, .doc-api-body {
  padding-left: 3.25rem;
}

@media screen {
  .doc-collapsed > .doc-api-header > .doc-api-summary {
    max-height: 2rem;
    overflow: hidden;
  }
  .doc-collapsed > .doc-api-header > .doc-api-summary > p:first-child {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.doc-api-body {
  border-radius: 0 0 0.2rem 0.2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: background-color 0.2s;
}

.doc-api-body h5 {
  margin: 1.25rem 0 1rem;
  font-weight: 500;
}

.doc-api-body h4:first-child, .doc-api-body h5:first-child {
  margin-top: 0;
}

.doc-api-body:empty {
  display: none;
}

@media screen {
  .doc-collapsed > .doc-api-body {
    display: none;
  }
}

.doc-api-table {
  word-break: break-all;
}

.doc-api-table th {
  position: static;
  font-weight: 400;
}

.doc-api-table th::before, .doc-api-table th::after {
  display: none;
}

.doc-api-table-name {
  width: 10rem;
  min-width: 6rem;
}

.doc-api-table-summary {
  width: 20rem;
}

.doc-api-table-type {
  width: 14.5rem;
}

.doc-api-optional {
  margin-right: .25rem;
  color: #999;
  white-space: nowrap;
}

.doc-more {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.doc-more-details {
  display: none;
}

.doc-type-indent {
  display: block;
  padding-left: 2em;
}

.doc-waterfall {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

.doc-waterfall h4 {
  margin: .5rem 0;
}

.doc-waterfall a {
  color: #262626;
  word-break: break-all;
}

.doc-waterfall a:hover > small {
  color: inherit;
}

.doc-waterfall small {
  margin-left: .5rem;
  color: #999;
}

.doc-waterfall ::marker {
  color: #999;
}

.doc-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 0.5fr));
  grid-gap: 2.5rem 3rem;
  margin-bottom: 1.25rem;
}

.doc-grid:last-child {
  margin-bottom: 0;
}

.doc-card {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  border: 1px solid #e1e4e8;
  border-radius: .5rem !important;
  padding: 0 !important;
  color: #262626 !important;
  text-align: center;
  transition: border-color 0.2s, color 0.2s, box-shadow 0.2s !important;
}

.doc-card-header {
  border-bottom: 1px solid #e1e4e8;
  border-radius: .5rem .5rem 0 0;
  padding: .75rem 1.5rem;
  transition: color 0.2s;
}

a:hover > .doc-card-header {
  color: #29a39f;
}

.doc-card-body {
  flex: 1;
  box-sizing: content-box;
  min-height: 6rem;
  padding: 2rem 1.5rem;
}

.doc-card-body > h3 {
  margin: 0 0 1rem;
  transition: color 0.2s;
}

a:hover > .doc-card-body > h3 {
  color: #29a39f;
}

.doc-card-footer {
  border-top: 1px solid #e1e4e8;
  border-radius: 0 0 .5rem .5rem;
  padding: .75rem 1.5rem;
  text-align: right;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

a:hover > .doc-card-footer {
  background-color: #dff1f1;
  color: #29a39f;
}

a.doc-card:hover {
  border-color: #cbcdd1;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
  text-decoration: none !important;
}

.doc-icon-arrow-left {
  margin-right: .5rem;
  transform: rotate(-180deg);
  transition: transform 0.2s;
}

a:hover .doc-icon-arrow-left {
  transform: rotate(-180deg) translateX(2px);
}

.doc-icon-arrow-right {
  margin-left: .5rem;
  transition: transform 0.2s;
}

a:hover .doc-icon-arrow-right {
  transform: translateX(2px);
}

.doc-tab {
  margin-bottom: 1.25rem;
}

.doc-tab:last-child {
  margin-bottom: 0;
}

.doc-tab-header {
  border-bottom: 1px solid #e1e4e8;
}

.doc-tab-header > ul {
  display: flex;
  margin: 0;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 0;
  white-space: nowrap;
  transform: translateY(1px);
}

.doc-tab-header > ul::-webkit-scrollbar {
  display: none;
}

.doc-tab-header > ul > li {
  list-style: none;
  margin: 0 !important;
  border-bottom: 2px solid transparent;
  padding: .375rem 1rem;
  color: #515151;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

.doc-tab-header > ul > li:hover, .doc-tab-header > ul > li:focus {
  border-color: #e1e4e8;
  outline: none;
  color: #515151;
}

.doc-tab-header > ul > li::before {
  display: none;
}

.doc-tab-header > ul > li.doc-selected {
  border-color: #fc9153 !important;
}

.doc-tab-header > ul > li > .doc-icon {
  margin-right: .25rem;
}

.doc-tab-content {
  display: none;
  padding: 1.25rem 1rem;
}

.doc-tab-content.doc-selected {
  display: block;
  animation: doc-tab-show 0.2s;
}

@keyframes doc-tab-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.doc-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.25rem;
  box-sizing: border-box;
  min-width: 6rem;
  min-height: 6rem;
  border: 2px solid #cbcdd1;
  border-radius: .375rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: .75rem;
  color: #515151;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
}

.doc-box.doc-large {
  min-width: 12rem;
  min-height: 12rem;
}

.doc-box.doc-small {
  min-width: 3rem;
  min-height: 3rem;
}

.doc-box.doc-info {
  border-color: #147ad9;
  color: #147ad9;
}

.doc-box.doc-success {
  border-color: #46a716;
  color: #46a716;
}

.doc-box.doc-warning {
  border-color: #de980d;
  color: #de980d;
}

.doc-box.doc-error {
  border-color: #d01d26;
  color: #d01d26;
}

.doc-clear::after, .doc-pager::after {
  content: "";
  display: block;
  clear: both;
}

.doc-pager {
  margin: 2rem 0 0;
  border-top: 1px solid #f0f2f4;
  padding-top: 2.5rem;
}

.doc-pager > a {
  box-sizing: border-box;
  max-width: 48%;
  color: #999;
  line-height: 1.5rem;
  text-decoration: none;
  transition: color 0.2s;
  touch-action: manipulation;
}

.doc-pager > a:hover {
  background-color: transparent;
  color: #29a39f;
}

.doc-pager-prev {
  float: left;
}

.doc-pager-next {
  float: right;
}

.doc-pager-next > .doc-icon {
  float: right;
  margin-top: .25rem;
}

.doc-back-to-top {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2rem;
  pointer-events: none;
  backface-visibility: hidden;
}

.doc-back-to-top > a {
  display: block;
  position: sticky;
  top: -7rem;
  right: -13.5rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  opacity: .5;
  color: #fcfcfc;
  font-size: 2.75rem;
  line-height: 2.75rem;
  text-decoration: none;
  user-select: none;
  transform: translateY(100vh);
  transition: opacity 0.2s, background-color 0.2s;
  pointer-events: all;
}

.doc-back-to-top > a:hover {
  opacity: .9;
}

.doc-footer {
  border-top: 1px solid #e7e9ed;
  background-color: #fdfdfd;
  padding: 3rem 1.5rem;
  color: #515151;
  font-size: .875rem;
}

@media (max-width: 768px) {
  .doc-footer {
    text-align: center;
  }
}

.doc-links {
  float: right;
}

.doc-links > a {
  padding: .375rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.doc-links > a:hover {
  color: #7a7a7a;
}

@media (max-width: 768px) {
  .doc-links {
    float: none;
    margin-bottom: .375rem;
  }
}

.doc-mask > .doc-header, .doc-mask > .doc-body, .doc-mask > .doc-footer {
  filter: blur(4px);
}

.doc-imageview {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2001;
  overflow: auto;
  background: rgba(1, 1, 1, 0.6);
  animation: doc-imageview-mask 0.2s;
}

@keyframes doc-imageview-mask {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.doc-imageview-container {
  margin: auto;
  text-align: center;
}

.doc-imageview-content {
  display: inline-block;
  border-radius: 0.2rem;
  background: #fff;
  padding: .5rem;
}

.doc-imageview-content .doc-spinner {
  display: block;
  margin: 3.7rem;
  font-size: 2em;
}

.doc-imageview-content > img {
  display: block;
}

.doc-imageview-title {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  font: inherit;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=doc.css.map */