@use "sass:math";
@import "configs";

.doc-page-index {
	@media (min-width: #{$doc-screen-small + 1px}) {
		scroll-padding: 0;

		.doc-header {
			position: absolute;
			background: none;
			box-shadow: none;
			color: contrast();

			.doc-logo, .doc-logo > svg, .doc-version {
				color: inherit;
			}
		}

		.doc-navbar {
			> ul > li {
				padding: math.div($doc-header-height - 2.25rem, 2) 1.5rem - .75rem;
				line-height: 2.25rem;

				@media (max-width: $doc-screen-large) {
					padding-left: 1rem - .75rem;
					padding-right: 1rem - .75rem;
				}

				> a {
					border-radius: $doc-border-radius;
					padding-left: .75rem;
					padding-right: .75rem;
					transition: background-color $doc-duration;

					&:hover {
						background: rgba(255, 255, 255, .15);
						color: inherit;
					}
				}
			}
		}
	}

	.doc-main {
		a {
			text-decoration: none;
		}

		h2 {
			margin: 0 auto;
			padding: 2rem 0;
			color: $doc-secondary-color;
			font-size: 1.5rem;
			font-weight: 400;
			text-align: center;
		}
	}

	.doc-container {
		margin: 0 auto;
		box-sizing: content-box;
		max-width: 70rem;
		padding: 0 5rem;

		@media (max-width: $doc-screen-small) {
			max-width: none;
			padding: 0 1.5rem;
		}
	}
}

.doc-intro {
	background: linear-gradient(140deg, shade($doc-primary-color, 5%) 0, tint($doc-primary-color, 15%) 100%);
	padding: $doc-header-height + 3rem 0 3rem;
	color: contrast();

	> .doc-container {
		display: flex;
		align-items: flex-start;
		width: 45.5rem;

		@media (max-width: $doc-screen-small) {
			flex-direction: column;
			align-items: center;
			width: auto;
			text-align: center;
		}
	}
}

.doc-intro-logo {
	margin-right: 3rem;

	> svg {
		width: 15rem;
		height: 15rem;
		fill: currentColor;
		filter: drop-shadow(0 2px 2px rgba(10, 20, 18, .24));
	}

	@media (max-width: $doc-screen-small) {
		margin: 0;
	}
}

.doc-intro-title {
	margin: .8rem 0 0;
	font-family: doc-logo;
	font-size: 5.5rem;
	font-weight: 500;
	line-height: 1;
	filter: drop-shadow(0 2px 2px rgba(10, 20, 18, .12));
}

.doc-intro-description {
	font-size: 1.5rem;
}

.doc-intro-buttons {
	margin: 2.5rem 0;
}

.doc-intro-button {
	display: inline-block;
	margin-left: 1.5rem;
	border-radius: 2rem;
	color: contrast();
	font-size: 1rem;
	transition: background-color $doc-duration, color $doc-duration;

	&:hover {
		text-decoration: underline !important;
	}

	@media (max-width: $doc-screen-small) {
		display: block;
		margin: 2rem 0 0;
	}
}

.doc-intro-button-primary {
	display: inline-block;
	margin: 0;
	background-color: $doc-body-background-color;
	padding: .8rem 2.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	color: $doc-primary-color;
	font-size: 1.25rem;
	font-weight: 600;

	&:hover {
		background-color: tint($doc-primary-color, 85%);
		text-decoration: none !important;
	}
}

.doc-download, .doc-resources {
	background: $doc-header-background-color;
	padding: 0 0 2.5rem;
}

.doc-download-body {
	display: flex;
	justify-content: center;
	vertical-align: middle;

	@media (max-width: $doc-screen-small) {
		flex-direction: column;
		text-align: center;
	}
}

.doc-download-command {
	margin: 0 2rem;

	> label {
		margin-right: 1rem;
		font-size: 3rem;
		vertical-align: middle;
	}

	> pre {
		display: inline-block;
		margin: 0;
		min-width: 14rem;
		border-radius: $doc-border-radius;
		background: #eaeef0;
		padding: .75rem 1rem;
		text-align: left;

		.doc-toolbar-button {
			float: right;
		}
	}

	> iframe {
		margin-top: 1.5rem;
	}
}

.doc-features {
	h2 {
		position: relative;
		z-index: 2;
		margin-bottom: -4rem - 1.5rem * 1.5 !important;

		@media (max-width: $doc-screen-small) {
			margin-bottom: 0 !important;
		}
	}
}

.doc-features-body {
	display: flex;
	margin: 0;
	padding: 0;

	> li {
		list-style: none;
		flex: 1;
	}

	@media (max-width: $doc-screen-small) {
		flex-direction: column;
	}
}

.doc-feature-item {
	display: block;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	padding: 6rem 2rem 3rem;
	color: $doc-text-color;
	text-align: center;
	transition: background-color $doc-duration, color $doc-duration !important;
	cursor: initial;

	> .doc-icon {
		font-size: 5rem;
		transition: transform $doc-duration ease-out;

		@media (max-width: $doc-screen-small) {
			float: left;
			margin-right: 2rem;
			height: 9rem;
		}
	}

	> h3 {
		margin: 1.25rem 0;
		font-size: 1.25rem;
		font-weight: 600;
		transition: transform $doc-duration ease-out;
	}

	> p {
		color: $doc-text-color;
		font-size: .875rem;
		line-height: 1.75;
		text-align: left;
		transition: transform $doc-duration ease-out;

		@media (max-width: $doc-screen-small) {
			padding-left: 6rem;
		}
	}

	&[href]:hover {
		background-color: tint($doc-primary-color, 85%);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
		color: $doc-primary-color;
		cursor: pointer;

		> .doc-icon, > h3, > p, > .doc-feature-more {
			transform: translateY(-5px);
		}

		> .doc-feature-more {
			opacity: 1;
		}
	}

	@media (max-width: $doc-screen-small) {
		padding: 1rem 2rem 2.5rem;
		text-align: left;
	}
}

.doc-feature-more {
	display: inline-block;
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;
	border: 1px solid $doc-primary-color;
	border-radius: $doc-border-radius;
	padding: .375rem .5rem;
	opacity: 0;
	color: $doc-primary-color;
	transform: translateY(1rem);
	transition: transform $doc-duration, opacity $doc-duration ease-out;
}

.doc-resources-body {
	display: flex;
	margin: 0;
	padding: 0;

	> li {
		list-style: none;
		flex: 1;
		padding: 0 1rem;
		text-align: center;
	}

	@media (max-width: $doc-screen-small) {
		overflow-x: auto;
	}
}

.doc-resource {
	display: inline-block;
	color: $doc-text-color;
	transition: color $doc-duration ease-out, background-color $doc-duration ease-out;

	&:hover {
		color: $doc-primary-color;

		> .doc-resource-icon {
			background-color: tint($doc-primary-color, 85%);
			transform: scale(1.05, 1.05);
		}
	}
}

.doc-resource-icon {
	display: block;
	margin: 0 auto 1rem;
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	background-color: $doc-body-background-color;
	font-size: 4rem;
	line-height: 7rem;
	transition: background-color $doc-duration, transform $doc-duration;
}

.doc-support {
	text-align: center;

	> a {
		display: inline-block;
		margin: 2.5rem;
		border: 2px solid $doc-primary-color;
		border-radius: 2rem;
		padding: .8rem 3.4rem;
		color: $doc-primary-color;
		font-weight: 600;
		transition: background-color $doc-duration, color $doc-duration;

		&:hover {
			background-color: tint($doc-primary-color, 85%);
		}
	}
}